<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

  </head>
  <body>
    <div id="layout">
      <%- body %>
    </div>

      <div class="footer">
        <div class="footer-content">@Code by CiCiYoo</div>
      </div>
  </body>
</html>